/* Global down menu btns Style */
.down-menu-btns {
    text-align: center;
    margin: auto;
    margin-block-start: 20px;
}

.down-menu-btns button {
    border: 2px outset;
    background-color: #737373;
}

/* Lives Feature */
.lives-container span:hover {
    cursor: default;
}

/* Hint Feature */
.hint-activated {
    filter: contrast(200%);
    filter: brightness(0.5);
}

.game-on-btns {
    visibility:visible;
    transition: linear 0.2s;
}